.event-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: solid 1px #7049ce;
    padding: 10px 20px;
    margin-top: -1px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__main_event {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5px;
        & > div {
            margin-left: 20px;
        }
    }

    &__name {
        width: 300px;
        text-transform: uppercase;
    }

    &__timer {
        min-width: 100px;
        text-align: right;
        &_expiring {
            color: lightcoral;
        }
    }

    &__sub_events {
        width: 100%;
    }

    &__event_note {
        margin-left: 20px;
        font-size: 12px;
        color: #cc3333;
    }

    &__img {
        width: 50px;
    }

    @media only screen and (max-width: 600px) {
        &__name {
            width: 150px;
        }
    }
}


