.changelog-page {
    &__version {
        font-size: 24px;
        text-transform: uppercase;
    }

    &__row {
        border-bottom: 1px solid #f6e1c2;
        padding: 20px;
    }

    &__contacts {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        & > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:not(:first-child) {
                margin-right: 30px;
            }
            margin-right: 20px;
        }
        img {
            margin-right: 10px;
            width: 32px;
        }
        a {
            color: #fff;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding-top: 5px;
        }
    }
}
