.calculator-page {
    color: #eeeff0;

    &__total {
        //text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }

    &__data {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
    }

    &__buttons {
        & > button {
            margin-left: 20px;
        }
    }

    &__hr {
        height: 1px;
        width: 100%;
        background: #303031;
        margin: 10px 0;
    }

    &__need-content {
        color: #fcfcf7;
        position: absolute;
        min-width: 100px;
        padding: 10px;
        background: rgba(0,0,9,0.7);
        //border: solid 1px #f6e1c2;
        font-weight: bold;
    }

    &__need-table {
        td {
            width: inherit !important;
            font-weight: bold;
            font-size: 14px;
        }
    }

    table {
        text-align: left;
        border-spacing: 0;

        td, th {
            width: 100px;
            box-sizing: border-box;
            padding-right: 10px;
        }

        th {
            text-transform: uppercase;
        }
    }

    &__scheme {
        margin: 5px 0;
        select {
            font-weight: bold;
            margin-top: 5px;
            border: none;
            color: #f9f9f9;
            outline: none;
            border-radius: 20px;
            width: 100%;
            padding: 4px 7px;

            -webkit-appearance: none;
            -moz-appearance: none;
            background: #3d3d3b;
            background-image: url("data:image/svg+xml;utf8,<svg fill='%238b8b89' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
        }
    }


    input {
        width: 80px;
        padding: 5px 10px;
        //background: #383c49;
        background: rgba(0,0,0,0.5);
        border: none;
        border-radius: 0;
        color: #7398e4;
    }

    button {
        padding: 7px 50px;
        background: #ddd;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: #17381b;
        text-transform: uppercase;
        font-weight: bold;

        &.button_save {
            background: #67da6d;
        }

        &.button_load {
            background: #4393f7;
        }
    }

    &__field {
        display: grid;
        padding: 20px;
        background: url('./assets/grass.jpeg') repeat;
        border: 1px solid #f6e1c2;

        input {
            background: transparent;
            outline: none;
            color: #4e3e11;
            text-align: center;
        }
    }

    &__boost {
        position: relative;

        input {
            width: 24px;
            padding: 0 5px;
            color: rgb(179, 259, 53);
            font-size: 16px;
        }
    }

    &__base_ovr {
        position: absolute;
        margin-top: -4px;
        margin-left: 9px;
        color: #4e3e11;
        font-size: 20px;
        font-weight: bold;
    }

    &__ovr {
        position: absolute;
        top: 68px;
        left: 8px;
        padding-left: 10px;

        input {
            width: 80px;
            padding: 0 5px;
            font-size: 48px;
            font-weight: bold;
        }
    }

    &__stone {
        position: absolute;
        width: 23px;
        height: 26px;
        margin-top: 160px;
        margin-left: 52px;
        background-image: url(./assets/ranks.png);
        background-position: 0px 0px;
        background-size: 23px;
        &_emerald {
            background-position: 0px -26px;
        }
        &_saphire {
            background-position: 0px -52px;
        }
        &_ametyst {
            background-position: 0px -80px;
        }
        &_ruby {
            background-position: 0px -107px;
        }
        &_ember {
            background-position: 0px -134px;
        }
    }
    &__position {
        position: relative;
        width: 128px;
        height: 193px;
        margin: 10px;
        background-image: url('./assets/card.png');
        background-size: 128px;
        text-align: center;

        &_41212 {
            &.calculator-page__position_position_1 {
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                left: 64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                left: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_7 {
                top: -32px;
                left: 64px;
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 64px;
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                left: -64px;
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -64px;
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_4222 {
            &.calculator-page__position_position_1 {
                left: 64px;
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                left: -64px;
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                left: 64px;
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                left: -64px;
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                left: 64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                left: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                left: 64px;
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                left: 64px;
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                left: -64px;
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                left: -64px;
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_4141 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 1;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                grid-column: 5;
                grid-row: 2;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_7 {
                top: -32px;
                left: 64px;
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 64px;
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                left: -64px;
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -64px;
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_4231 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                left: -128px;
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                top: 32px;
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: 32px;
                left: 128px;
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                top: -32px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -32px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_424 {
            &.calculator-page__position_position_1 {
                top: 32px;
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                grid-column: 1;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                grid-column: 5;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                top: -32px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -32px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_4312 {
            &.calculator-page__position_position_1 {
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                top: -32px;
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -32px;
                left: 64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -32px;
                left: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -128px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_7 {
                top: -96px;
                left: 64px;
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                top: -96px;
                left: 64px;
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                top: -96px;
                left: -64px;
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                top: -96px;
                left: -64px;
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_4321 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: -32px;
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                top: -32px;
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -32px;
                left: 64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -32px;
                grid-column: 3;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -32px;
                left: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_433 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                left: 96px;
                grid-column: 1;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                top: 32px;
                left: -96px;
                grid-column: 5;
                grid-row: 1;
            }

            &.calculator-page__position_position_4 {
                top: 32px;
                left: 32px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: 32px;
                grid-column: 3;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: 32px;
                left: -32px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: 32px;
                grid-column: 1;
                grid-row: 5;
            }

            &.calculator-page__position_position_8 {
                top: 32px;
                grid-column: 2;
                grid-row: 5;
            }

            &.calculator-page__position_position_9 {
                top: 32px;
                grid-column: 4;
                grid-row: 5;
            }

            &.calculator-page__position_position_10 {
                top: 32px;
                grid-column: 5;
                grid-row: 5;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_4411 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                top: -64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: -32px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                grid-column: 2;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 4;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                top: -32px;
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_442 {
            &.calculator-page__position_position_1 {
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                grid-column: 1;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_6 {
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_7 {
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_9 {
                grid-column: 3;
                grid-row: 3;
            }

            &.calculator-page__position_position_10 {
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_11 {
                left: 76px;
                grid-column: 2;
                grid-row: 4;
            }
        }

        &_451 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 1;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_6 {
                grid-column: 5;
                grid-row: 2;
            }

            &.calculator-page__position_position_7 {
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 6;
            }
        }

        &_3412 {
            &.calculator-page__position_position_1 {
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                top: -32px;
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 96px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -96px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_3421 {
            &.calculator-page__position_position_1 {
                top: 32px;
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                top: -128px;
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 96px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -96px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_343 {
            &.calculator-page__position_position_1 {
                top: 32px;
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                top: -128px;
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 96px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -96px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_3511 {
            &.calculator-page__position_position_1 {
                top: 0px;
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 96px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -96px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_352 {
            &.calculator-page__position_position_1 {
                top: 32px;
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                top: 32px;
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                top: 64px;
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                top: -64px;
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                left: 96px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                left: -96px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_5212 {
            &.calculator-page__position_position_1 {
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_7 {
                grid-column: 2;
                grid-row: 4;
            }

            &.calculator-page__position_position_8 {
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_5221 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_7 {
                grid-column: 2;
                grid-row: 4;
            }

            &.calculator-page__position_position_8 {
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_532 {
            &.calculator-page__position_position_1 {
                grid-column: 2;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                grid-column: 4;
                grid-row: 1;
            }

            &.calculator-page__position_position_3 {
                grid-column: 3;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                top: -64px;
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_5 {
                top: -64px;
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_6 {
                top: -32px;
                grid-column: 1;
                grid-row: 4;
            }

            &.calculator-page__position_position_7 {
                top: -32px;
                grid-column: 2;
                grid-row: 4;
            }

            &.calculator-page__position_position_8 {
                top: -32px;
                grid-column: 3;
                grid-row: 4;
            }

            &.calculator-page__position_position_9 {
                top: -32px;
                grid-column: 4;
                grid-row: 4;
            }

            &.calculator-page__position_position_10 {
                top: -32px;
                grid-column: 5;
                grid-row: 4;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }

        &_541 {
            &.calculator-page__position_position_1 {
                grid-column: 3;
                grid-row: 1;
            }

            &.calculator-page__position_position_2 {
                left: 32px;
                grid-column: 1;
                grid-row: 2;
            }

            &.calculator-page__position_position_3 {
                left: 32px;
                grid-column: 2;
                grid-row: 2;
            }

            &.calculator-page__position_position_4 {
                left: -32px;
                grid-column: 4;
                grid-row: 2;
            }

            &.calculator-page__position_position_5 {
                left: -32px;
                grid-column: 5;
                grid-row: 2;
            }

            &.calculator-page__position_position_6 {
                grid-column: 1;
                grid-row: 3;
            }

            &.calculator-page__position_position_7 {
                grid-column: 2;
                grid-row: 3;
            }

            &.calculator-page__position_position_8 {
                grid-column: 3;
                grid-row: 3;
            }

            &.calculator-page__position_position_9 {
                grid-column: 4;
                grid-row: 3;
            }

            &.calculator-page__position_position_10 {
                grid-column: 5;
                grid-row: 3;
            }

            &.calculator-page__position_position_11 {
                grid-column: 3;
                grid-row: 5;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .calculator-page {
        width: 100%;
        padding: 10px;

        &__field {
            display: block;
            margin-left: 115px;
        }

        &__data {
            flex-direction: column;
            //justify-content: flex-start;
        }

        &__total {
            //font-size: 16px;
        }

        &__buttons {
            display: flex;
            margin: 0;

            button {
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 0;
                //width: 100px;
                //height: 40px;
                //text-align: center;
                //font-size: 16px;
            }
        }

        &__position {
            top: inherit !important;
            left: inherit !important;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: inherit;
            background: none !important;

            &:first-child {
                & > div {
                    &:before {
                        position: absolute;
                        display: block;
                        margin-top: -20px;
                    }
                }

                .calculator-page__boost {
                    &:before {
                        content: 'Boost';
                    }
                }

                .calculator-page__ovr {
                    &:before {
                        content: 'OVR';
                    }
                }

                .calculator-page__rank {
                    &:before {
                        content: 'Tr.lvl';
                    }
                }
            }

            & > div {
                top: inherit !important;
                margin: 5px;

                input {
                    width: 50px;
                    height: 40px;
                    font-size: 24px;
                    line-height: 40px;
                }
            }
        }
    }
}
