.navbar {
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: #999;
    a {
        padding: 0 10px;
        text-decoration: none;
        &.active {
            text-decoration: underline;
        }
    }
}
