.sub-event-row {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;

    & > div {
        margin-left: 20px;
    }

    &__name {
        width: 300px;
        color: #bbb;
        text-transform: capitalize;
    }

    &__timer {
        color: #bbb;
        &_expiring {
            color: lightcoral;
        }
    }

    @media only screen and (max-width: 600px) {
        &__name {
            width: 150px;
        }
    }
}
