.sub-event-row {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    & > div {
        margin-left: 20px;
        padding-bottom: 3px;
    }

    &__name {
        width: 300px;
        color: #7b7f8a;
        text-transform: capitalize;
    }

    &__timer {
        color: #7b7f8a;
        text-align: right;
        &_expiring {
            color: lightcoral;
        }
    }

    @media only screen and (max-width: 600px) {
        &__name {
            width: 150px;
        }
    }
}
