body, heml {
    margin: 0;
    padding: 0;
    background: #161616;
}

a {
    color: #000;

    &:hover {
        text-decoration: none;
    }
}

.App {
    color: #fefefe;
    font-family: Roboto, Arial, serif;

    &__header {
        background: #fff;
        .inner {
            height: 60px;
            max-width: 768px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__content {
        margin-top: 30px;
        .inner {
            max-width: 768px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    @media only screen and (max-width: 600px) {
        font-size: 0.8em;
    }
}
